@page "/csv/{AccountId:guid}"

@inject IGetJournalAccountByUIDUseCase ActionGetAccount
@inject ISaveTransactionUseCase ActionSaveTransaction;
@inject ICSVParserService csvService

<section id="idCSVImport">
    @if (account is null)
    {
        <p>@NO_ACCOUNT</p>
    }
    else if (isReadingFile)
    {
        <p>@READING_FILE</p>
    }
    else
    {

        <h3>CSV Import for @account.Description</h3>

        <!-- File locator -->
        <div class="row">
            <label>CSV Path</label>
            <InputFile OnChange="FileSelected" />
        </div>

        @if (dto != null)
        {
            <!-- CSV Records -->
            <BankRecordListing @ref="bankListing" RecordList="dto.RecordList" />

            <!-- Action buttons?: Auto-Clear, Match, Create -->
            <div class="d-inline d-inline-block gap-1">
                <Button Id="btnClear" Class="btn btn-warning" onclick="@(() => ClearSelections())">Clear</Button>
                <Button Id="btnAutoMatch" Class="btn btn-primary" onclick="@(() => AutoMatch())">Auto-Match</Button>
                <Button Id="btnMatch" Class="btn btn-success" onclick="@(() => MatchRecords())">Match</Button>
                <Button Id="btnCreateNewTransaction" Class="btn btn-primary" onclick="@(() => CreateNewTransaction())">Create New</Button>
            </div>

            <!-- Transaction listing -->
            <TransactionListing @ref="transListing" Account="account" Dates="dto.Dates" />


        }
        else
        {
            <p>@NO_BANK_FILE</p>
        }

    }
</section>

@code {
    [Parameter] public Guid AccountId { get; set; }

    private const string READING_FILE = "Parsing bank file ...";
    private const string NO_ACCOUNT = "Money Account has not been selected";
    private const string NO_BANK_FILE = "Please select a bank file [*.csv] to process";

    private BankRecordListing bankListing;
    private TransactionListing transListing;

    private bool isReadingFile = false;
    private IMoneyAccount account = null;
    private CSVFileDTO dto = null;

    protected override void OnInitialized()
    {
        ResetState();
    }

    protected override void OnParametersSet()
    {
        var acct = ActionGetAccount.Execute(AccountId);
        if (acct is IMoneyAccount money)
        {
            account = money;
        }
        else
        {
            throw new InvalidOperationException("CSV Import is only available for Money Accounts");
        }

        if (account.Mapping?.IsValidMapping() != true) throw new InvalidOperationException("CSV Mapping is missing");
    }


    private async Task FileSelected(InputFileChangeEventArgs e)
    {
        //csvFile = e.File;
        isReadingFile = true;
        try
        {
            dto = await csvService.GetDataFromCSV(account, e.File);
        }
        finally
        {
            isReadingFile = false;
        }
    }


    private void ResetState()
    {
        isReadingFile = false;
        dto = null;
    }

    private void ClearSelections()
    {
        bankListing.ClearSelected();
        transListing.ClearSelected();
    }


    /// <summary>
    /// Compares the Bank Record list to the Transaction list and removes any 1:1 pairs where
    /// the Bank Date and Amount exactly match.
    /// </summary>
    private void AutoMatch()
    {
        var loopList = bankListing.RecordList.ToList();
        foreach(var bankRecord in loopList)
        {
            var transaction = transListing.RecordList.FirstOrDefault(x => x.BankDate == bankRecord.TransactionDate && Math.Abs(x.Amount) == Math.Abs(bankRecord.Amount));
            if (transaction is null) continue;

            bankListing.RemoveRecord(bankRecord);
            transListing.RemoveRecord(transaction);
        }

    }

    /// <summary>
    /// Assigns the more recent date from the selected Bank Records to the selected Transaction records 
    /// if the transaction record does not already have a bank date
    /// </summary>
    /// <remarks>
    /// REQUIRES: Sum of selected Bank Records MUST EXACTLY MATCH the sum of selected Transaction records
    /// </remarks>
    private void MatchRecords()
    {
        if (bankListing.SelectedRecords.Sum(s => s.Amount) != transListing.SelectedRecords.Sum(s => s.Amount)) return;

        transListing.SelectedRecords.Where(x => !x.BankDate.HasValue).ToList().ForEach(x => {
            x.BankDate = bankListing.SelectedRecords.OrderByDescending(o => o.TransactionDate).First().TransactionDate;
            ActionSaveTransaction.Execute(x.MoneyRecord);
        });
        bankListing.RemoveRecords(bankListing.SelectedRecords.ToList());
        transListing.RemoveRecords(transListing.SelectedRecords.ToList());
    }

    private void CreateNewTransaction()
    {
        // TODO: create new transaction for the selected bank record
    }

}
