@using DLPMoneyTracker.Data.LedgerAccounts;
@using DLPMoneyTracker.Data.TransactionModels.JournalPlan;

@inject IJournal journal
@inject IJournalPlanner planner

<section id="summary_@Account.Id">
    <div class="card @AccountTypeColor">
        <div class="card-header">
            <div class="row">
                <div class="col-12"><b>@AccountType.ToDisplayText()</b></div>
            </div>

            <div class="row SummaryInfo">
                <div class="col-1"><!-- Buffer --></div>
                <div class="col-6">@Account.Description</div>
                <div class="col-2">Balance:</div>
                <div class="col-3">@string.Format("{0:c}", CurrentBalance)</div>
            </div>
        </div>

        @{
            var listBudgets = planner.GetUpcomingPlansForAccount(Account.Id);
            int rowCount = 0;
            decimal balanceNew = balanceCurrent;
            if (listBudgets?.Any() == true)
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                            <table class="dataGrid">
                                <thead>
                                    <tr>
                                        <th>Budget Description</th>
                                        <th>Category</th>
                                        <th>Next Date</th>
                                        <th>Amount</th>
                                        <th><!-- Aciton Buttons --></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    @foreach (var budget in listBudgets)
                                    {
                                        rowCount++;
                                        switch (budget.PlanType)
                                        {
                                            case JournalPlanType.Receivable:
                                                balanceNew += budget.ExpectedAmount;
                                                break;
                                            case JournalPlanType.Payable:
                                                balanceNew -= budget.ExpectedAmount;
                                                break;
                                            case JournalPlanType.Transfer:
                                                if (budget.DebitAccountId == this.Account.Id)
                                                {
                                                    balanceNew += budget.ExpectedAmount;
                                                }
                                                else
                                                {
                                                    balanceNew -= budget.ExpectedAmount;
                                                }
                                                break;
                                            case JournalPlanType.DebtPayment:
                                                if (this.Account.JournalType == JournalAccountType.Bank)
                                                {
                                                    balanceNew -= budget.ExpectedAmount;
                                                }
                                                else
                                                {
                                                    balanceNew += budget.ExpectedAmount;
                                                }
                                                break;
                                        }

                                        <tr class="@((rowCount % 2) == 0 ? "altRowColor" : "stdRowColor" )">
                                            <td>@budget.Description</td>
                                            <td>@budget.PlanType.ToString()</td>
                                            <td>@string.Format("{0:yyyy/MM/dd}", budget.NextOccurrence)</td>
                                            <td>@string.Format("{0:c}", budget.ExpectedAmount)</td>
                                            <td>
                                                <button @onclick="@(e => AddPayableTransaction(budget.UID))">
                                                    <img src="/icons/payment-256.png" class="action-icon" />
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                @if (this.Account.JournalType != JournalAccountType.Bank)
                {
                    // Account is a Liability so the amount will be negative but needs to be displayed as positive
                    balanceNew *= -1;
                }

                <div class="card-footer">
                    <div class="row SummaryInfo">
                        <div class="col-7"><!-- Buffer --></div>
                        <div class="col-2">New Balance:</div>
                        <div class="col-3">@string.Format("{0:c}", balanceNew)</div>
                    </div>
                </div>
            }
        }

    </div>

</section>







@code {
    private decimal balanceCurrent;
    private IJournalAccount _acct;

    [Parameter]
    public IJournalAccount Account
    {
        get { return _acct; }
        set
        {
            _acct = value;
            balanceCurrent = journal.GetAccountBalance(_acct.Id, false);

        }
    }

    public JournalAccountType AccountType { get { return _acct?.JournalType ?? JournalAccountType.NotSet; } }
    public decimal CurrentBalance
    {
        get
        {
            if (this.AccountType != JournalAccountType.Bank)
            {
                // Make sure the Liability accounts display as a Positive #
                return balanceCurrent * -1;
            }

            return balanceCurrent;
        }
    }

    public string AccountTypeColor
    {
        get
        {
            switch (this.AccountType)
            {
                case JournalAccountType.Bank:
                    return "Bank";
                case JournalAccountType.LiabilityCard:
                    return "Card";
                case JournalAccountType.LiabilityLoan:
                    return "Loan";
                default:
                    return "";
            }
        }
    }


    public void AddPayableTransaction(Guid planUID)
    {
        // TODO: show the Journal Entry UI
    }
}
