@page "/EditMoneyAccount"
@using DLPMoneyTracker.Data.LedgerAccounts;

@inject ITrackerConfig config
@inject IJournal journal

<section id="sectionEditMoneyAccounts">
<!-- top row will have buttons to create new and/or close -->
    <div class="row">
        <div class="col-12">
            <button onclick="@(() => this.AddNew())">
                <img src="/icons/add-new-256.png" class="action-icon"/> Add New
            </button>
            <button onclick="@(() => this.Save())">
                <img src="/icons/save-256.png" class="action-icon" /> Save Changes
            </button>
            <button onclick="@(() => this.Discard())">
                <img src="/icons/garbage-closed-256.png" class="action-icon" /> Discard 
            </button>
        </div>
    </div>

<!-- Editing controls will be a separate UI that should slide out from somewhere -->
    <div class="card border @( isEditorVisible ? "" : "collapse" )">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <MoneyAccountEditor @ref="editor"></MoneyAccountEditor>
                </div>
            </div>
        </div>
    </div>


<!-- have data grid listing all accounts -->
    <div class="row">
        <div class="col-12">
            <table class="dataGrid">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Account Type</th>
                        <th>Initial Balance</th>
                        <th><!-- Action Buttons --></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowCount = 0;
                        foreach(var acct in listMoneyAccounts.OrderBy(o => o.Description))
                        {
                            rowCount++;

                            var recordInitialBalance = journal.TransactionList.FirstOrDefault(x =>
                                (x.CreditAccountId == acct.Id && x.DebitAccountId == SpecialAccount.InitialBalance.Id) ||
                                (x.CreditAccountId == SpecialAccount.InitialBalance.Id && x.DebitAccountId == acct.Id));
                            decimal balanceInitial = recordInitialBalance?.TransactionAmount ?? decimal.Zero;


                            <tr class="@((rowCount % 2) == 0 ? "altRowColor" : "stdRowColor" )">
                                <td>@acct.Description</td>
                                <td>@acct.JournalType.ToDisplayText()</td>
                                <td>@string.Format("{0:c}", balanceInitial)</td>
                                <td>
                                    @if(acct.DateClosedUTC.HasValue)
                                    {
                                        string.Format("CLOSED: {0:yyyy/MM/dd}", acct.DateClosedUTC.Value.ToLocalTime());
                                    }
                                    else
                                    {
                                        <button @onclick="(() => ShowEditUI(acct.Id))">
                                            <img src="/icons/edit-pencil-256.png" class="action-icon" />
                                        </button>

                                        <button @onclick="(() => DeleteAccount(acct.Id))">
                                            <img src="/icons/garbage-closed-256.png" class="action-icon" />
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

</section>

@code {
    bool isEditorVisible = false;
    MoneyAccountEditor editor;
    List<IJournalAccount> listMoneyAccounts = new List<IJournalAccount>();


    protected override Task OnInitializedAsync()
    {
        return Task.Run(() => this.Refresh());
    }

    private void Refresh()
    {
        listMoneyAccounts.Clear();

        var listData = config.GetJournalAccountList(JournalAccountSearch.GetAllMoneyAccounts());
        if (listData.Any() == true) listMoneyAccounts.AddRange(listData);

        StateHasChanged();
    }

    private void ShowEditUI(Guid idAccount)
    {
        var account = listMoneyAccounts.FirstOrDefault(x => x.Id == idAccount);
        if (account is null) return;
        editor.LoadAccount(account);
        isEditorVisible = true;
    }

    private void DeleteAccount(Guid idAccount)
    {
        config.RemoveJournalAccount(idAccount);
        this.Refresh();
    }

    private void Save()
    {
        editor.SaveChanges();
        isEditorVisible = false;
    }

    private void AddNew()
    {
        editor.Clear();
        isEditorVisible = true;
    }

    private void Discard()
    {
        editor.Clear();
        isEditorVisible = false;
    }
}
