@using DLPMoneyTracker.Data.LedgerAccounts;

@inject MoneyAccountVM viewModel

<section id="sectionMoneyAccountEditor">
    <EditForm Model="@viewModel" OnValidSubmit="SaveChanges">
        <!-- Description -->
        <div class="row">
            <div class="col-3">
                <label for="Description">Description</label>
            </div>
            <div class="col=6">
                <InputText @bind-Value="@viewModel.Description"></InputText>
            </div>
        </div>

        <!-- Account Type list -->
        <div class="row">
            <div class="col-3">
                <label for="AccountType">Account Type</label>
            </div>
            <div class="col-6">
                <InputSelect class="form-select" @bind-Value="@viewModel.AccountType">
                    @{
                        if(viewModel.AccountType == JournalAccountType.NotSet)
                        {
                            <option selected disabled value="@JournalAccountType.NotSet"></option>
                        }

                        foreach(var t in listValidAccountTypes)
                        {
                            if(t == viewModel.AccountType)
                            {
                                <option selected value="@t">@t.ToDisplayText()</option>
                            }
                            else
                            {
                                <option value="@t">@t.ToDisplayText()</option>
                            }
                        }

                    }

                </InputSelect>
            </div>
        </div>

        <!-- Initial Balance -->
        <div class="row">
            <div class="col-3">
                <label for="InitialBalance">Initial Balance</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="@viewModel.InitialBalance"></InputNumber>
            </div>
        </div>

        <!-- Display Order -->
        <div class="row">
            <div class="col-3">
                <label for="DisplayOrder">Display Order</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="@viewModel.DisplayOrder"></InputNumber>
            </div>
        </div>


    </EditForm>

</section>



@code {

    private List<JournalAccountType> listValidAccountTypes = new List<JournalAccountType>()
    {
        JournalAccountType.Bank,
        JournalAccountType.LiabilityCard,
        JournalAccountType.LiabilityLoan
    };

    public void LoadAccount(IJournalAccount account)
    {
        viewModel.LoadData(account);
        StateHasChanged();
    }


    public void SaveChanges()
    {
        if (!viewModel.IsValid) return;
        viewModel.Save();
        this.Clear();
    }

    public void Clear()
    {
        viewModel.Clear();
        StateHasChanged();
    }

}
