
@inject MoneyAccountVM viewModel

<section id="sectionMoneyAccountEditor">
    <EditForm Model="@viewModel">
        <!-- Description -->
        <div class="input-group row">
            <label class="col-form-label col-2" for="Description">Description</label>
            <div class="col">
                <InputText id="txtDescription" class="DescriptionWidth" @bind-Value="@viewModel.Description"></InputText>
                <ValidationMessage For="@(() => viewModel.Description)"></ValidationMessage>
            </div>
        </div>

        <!-- Account Type list -->
        <div class="input-group row">
            <label class="col-form-label col-2" for="AccountType">Account Type</label>
            <div class="col">
            <InputSelect id="cboAccountType" class="form-select AccountTypeWidth" @bind-Value="@viewModel.AccountType">
                @{
                    if(viewModel.AccountType == JournalAccountType.NotSet)
                    {
                        <option selected disabled value="@JournalAccountType.NotSet"></option>
                    }

                    foreach(var t in JournalAccountSearch.GetAllMoneyAccounts().JournalTypes)
                    {
                        if(t == viewModel.AccountType)
                        {
                            <option selected value="@t">@t.ToDisplayText()</option>
                        }
                        else
                        {
                            <option value="@t">@t.ToDisplayText()</option>
                        }
                    }

                }
            </InputSelect>
            </div>
        </div>
        
        <!-- Initial Balance -->
        <div class="input-group row">
            <label class="col-form-label col-2" for="InitialBalance">Initial Balance</label>
            <div class="col">
                <InputCurrency @bind-Value="@viewModel.InitialBalance" CSSClass="InitialBalanceWidth" IsEditEnabled="@isEditBalanceEnabled"></InputCurrency> 
                <button type="button" onclick="@(() => this.ToggleInitialBalanceEdit())">@(isEditBalanceEnabled ? "LOCK" : "EDIT")</button>
                <ValidationMessage For="@(() => viewModel.InitialBalance)"></ValidationMessage>
            </div>
        </div>

        <!-- Display Order -->
        <div class="input-group row">
            <label class="col-form-label col-2" for="DisplayOrder">Display Order</label>
            <div class="col">
                <InputNumber id="txtDisplayOrder" class="DisplayOrderWidth" @bind-Value="@viewModel.DisplayOrder"></InputNumber>
                <ValidationMessage For="@(() => viewModel.DisplayOrder)"></ValidationMessage>
            </div>
        </div>
                
    </EditForm>

</section>



@code {
    private bool isEditBalanceEnabled = false;
    private IJournalAccount _account;

    
    public void LoadAccount(IJournalAccount account)
    {
        _account = account;
        viewModel.LoadData(account);
        StateHasChanged();
    }


    public void SaveChanges()
    {
        if (!viewModel.IsValid) return;
        viewModel.Save();
        this.Clear();
    }

    public void Clear()
    {
        viewModel.Clear();
        StateHasChanged();
    }


    private void ToggleInitialBalanceEdit()
    {
        isEditBalanceEnabled = !isEditBalanceEnabled;
    }

}
