
@inject INavigationHistoryService navigation

<div class="card" id="@SectionId">
    <!-- Do I really need the Account Type displayed? -->
    @* <div class="row justify-content-start">
    <div class="col">
    @Account.AccountType.ToDisplayText()
    </div>
    </div> *@
    <div class="card-body @BGColor">
        <div class="card-title">
            <div class="row align-middle">

                <div class="col-7 gap-3 d-flex">
                    <ActionIconButton ButtonId="btnShowDetail"
                    ButtonType="button"
                    IconOption="IconOpt.StockExchange"
                    ParentName="@SectionId"
                    OnClickHandler="ShowDetailClicked" />
                    <h3>@Account.AccountDesc</h3>
                </div>

                <div class="col-3 offset-1 gap-2 d-flex align-middle align-content-end">
                    <h3>Balance: @Account.Balance.ToDisplayText()</h3>
                </div>

                <div class="col-1">
                    <!-- Show the CSV Import button IF and ONLY IF the mapping is configured -->
                    @if(Account.Mapping?.IsValidMapping() == true) {
                        <ActionIconButton ButtonId="btnShowCSV"
                        ButtonType="button"
                        IconOption="IconOpt.OpenFile"
                        ParentName="@SectionId"
                        onclick="ShowCSVClicked"
                        />
                    }
                </div>


            </div>
        </div>

        @if (Account.PlanList.Count > 0)
        {
            <!-- Table of Budget Plans here; Maybe a list group? -->
            <ul class="list-group">
                @{
                    int counter = 0;
                    foreach (var plan in Account.PlanList.OrderBy(o => o.NextDueDate))
                    {
                        counter++;
                        <li class="list-group-item @(counter % 2 == 1 ? "altrow": "")">
                            <SummaryItemPlan Plan="@plan"></SummaryItemPlan>
                        </li>

                    }
                }
            </ul>

            <div class="row">

                <div class="col-3 offset-8 d-flex gap-3 align-middle align-content-end">
                    <h3>Balance: @Account.BudgetBalance.ToDisplayText()</h3>
                </div>

            </div>

        }
        else
        {
            <!-- Still need some blank space to pad it out -->
            <br />
        }
    </div>
</div>


@code {
    [Parameter] public SummaryItemVM Account { get; set; }

    private string SectionId {get { return string.Format("A_{0}", Account.AccountId); }}

    private string BGColor
    {
        get
        {
            switch (this.Account.AccountType)
            {
                case LedgerType.Bank:
                    return "bg_bank";
                case LedgerType.LiabilityCard:
                    return "bg_creditcard";
                case LedgerType.LiabilityLoan:
                    return "bg_loan";
                default:
                    return "";
            }
        }
    }

    private void ShowDetailClicked() {
        string url = string.Format("/detail/{0}", Account.AccountId);
        navigation.NavigateTo(url);
    }

    private void ShowCSVClicked() {
        string url = string.Format("/csv/{0}", Account.AccountId);
        navigation.NavigateTo(url);
    }
}