@page "/Config/LedgerAccounts"
@using DLPMoneyTracker.Data.ConfigModels;
@using DLPMoneyTracker.Data.LedgerAccounts;

@inject EditJournalAccountService service


<div class="top-row px-4">
    <button type="button" @onclick="@((e) => AddNewLedgerAccount())"><img class="action-btn" src="icons\Add-New-256.png" alt="Add New" /></button>
</div>

<AddEditLedgerAccounts @ref="popupEdit" CloseEventCallback="PopupClosed" />

<section id="gridLedgerAccounts">

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Account Type</th>
                    <th>Monthly Budget</th>
                    <th><!-- Action Buttons --></th>
                </tr>
            </thead>

            <tbody>
                @{
                    var listAccounts = service.GetLedgerAccounts();

                    if (listAccounts?.Any() == true)
                    {
                        int rowCount = 0;
                        foreach(var acct in listAccounts)
                        {
                            rowCount++;

                            <tr class="@((rowCount % 2 == 0) ? "altRowColor" : "stdRowColor")">
                                <td>@acct.Description</td>
                                <td>@acct.JournalType.ToDisplayText()</td>
                                <td>@string.Format("{0:c}", acct.MonthlyBudgetAmount)</td>
                                <td>
                                    <button type="button" @onclick="@((e) => LoadAccount(acct.Id))"><img class="action-btn" src="icons\Edit-Pencil-256.png" alt="Edit Category" /></button>
                                    <button type="button" @onclick="@((e) => DeleteAccount(acct.Id))"><img class="action-btn" src="icons\Garbage-Closed-256.png" alt="Delete Category" /></button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    private AddEditLedgerAccounts popupEdit;

    private void PopupClosed()
    {
        StateHasChanged();
    }

    private void AddNewLedgerAccount()
    {
        popupEdit.Show(Guid.Empty);
    }

    private void LoadAccount(Guid id)
    {
        popupEdit.Show(id);
    }

    private void DeleteAccount(Guid id)
    {
        service.DeleteAccount(id);
        StateHasChanged();
    }
}
