@page "/Config/MoneyAccounts"
@using DLPMoneyTracker.Data.LedgerAccounts;

@inject EditJournalAccountService service;

<div class="top-row px-4">
    <button type="button" @onclick="@((e) => AddNewMoneyAccount())"><img class="action-btn" src="icons\Add-New-256.png" alt="Add New" /></button>
</div>

<AddEditMoneyAccounts @ref="popupEdit" CloseEventCallback="PopupClosed" />


<section id="gridMoneyAccounts">
    <div class="row">
        <table class="dataGrid">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Account Type</th>
                    <th>Date Closed</th>
                    <th><!-- Action Buttons --></th>
                </tr>
            </thead>

            <tbody>
                @{
                    var listAccounts = service.GetMoneyAccounts();

                    if (listAccounts?.Any() == true)
                    {
                        int rowCount = 0;
                        foreach (var acct in listAccounts)
                        {
                            rowCount++;
                            <tr class="@((rowCount % 2 == 0) ? "altRowColor" : "stdRowColor")">
                                <td>@acct.Description</td>
                                <td>@acct.JournalType.ToDisplayText()</td>
                                <td>@acct.DateClosedUTC?.ToLocalTime().ToString() ?? "" </td>
                                <td>
                                    @if (!acct.DateClosedUTC.HasValue)
                                    {
                                        <button type="button" @onclick="@((e) => LoadAccount(acct.Id))"><img class="action-btn" src="icons\Edit-Pencil-256.png" alt="Edit Category" /></button>
                                        <button type="button" @onclick="@((e) => DeleteAccount(acct.Id))"><img class="action-btn" src="icons\Garbage-Closed-256.png" alt="Delete Category" /></button>
                                    }

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr></tr>
                    }
                }

            </tbody>
        </table>
    </div>
</section>


@code {
    private AddEditMoneyAccounts popupEdit;


    private void PopupClosed()
    {
        StateHasChanged();
    }

    private void AddNewMoneyAccount()
    {
        popupEdit.Show(Guid.Empty);
    }

    private void LoadAccount(Guid id)
    {
        popupEdit.Show(id);
    }

    private void DeleteAccount(Guid id)
    {
        service.DeleteAccount(id);
        StateHasChanged();
    }
}
